//
//  ESP8266.xcconfig
//  Board configuration file
//  ----------------------------------
//  Developed with embedXcode
//
//  Part of embedXcode
//  Embedded Computing on Xcode
//
//  Created by  Rei Vilo on 12 Mar 2012
//  Copyright   (c) 2010-2020 https://embedXcode.weebly.com
//  Licence     All rights reserved
//
// Last update: 20 May 2019 release 10.8.7

// Board identifier
// See Boards.txt for <tag>.name=Arduino Uno (16 MHz)
//
BOARD_TAG  = generic

// For Arduino 1.5.x, if different from Arduino 1.0.x
//
BOARD_TAG1 = generic.menu.eesz.512K
BOARD_TAG2 = generic.menu.ip.lm2f // v2 Lower Memory
BOARD_TAG3 = generic.menu.xtal.80
BOARD_TAG4 = generic.menu.FlashMode.dio
BOARD_TAG5 = generic.menu.baud.115200
BOARD_TAG6 = generic.menu.ip.lm2f
BOARD_TAG7 = generic.menu.FlashFreq.40

// Port (optional)
// most common are /dev/tty.usbserial*, /dev/tty.usbmodem* or /dev/tty.uart*
//
BOARD_PORT = /dev/cu.usb*

// References for Xcode code-sense
// See Boards.txt for <tag>.build.mcu=<GCC_PREPROCESSOR_DEFINITIONS>
//
GCC_PREPROCESSOR_DEFINITIONS = ESP8266 ARDUINO 

// Specify the full path and name of the application
// with /Contents/Java/** after
//
HEADER_SEARCH_PATHS = $HOME/Library/Arduino15/packages/esp8266/hardware/esp8266/**

// Maximum RAM size in bytes
// given by <tag>.upload.maximum_ram_size in boards.txt for Maple and Teensy
// given by <tag>.upload.maximum_data_size in boards.txt for Arduino 1.5.x
//
//MAX_RAM_SIZE = 2048

CONFIG_NAME = ESP8266
