//
//  LaunchPad MSP432P401R Red EMT.xcconfig
//  Board configuration file
//  ----------------------------------
//  Developed with embedXcode
//
//  Part of embedXcode
//  Embedded Computing on Xcode
//
//  Created by  Rei Vilo on 24 Oct 2012
//  Copyright   (c) 2010-2020 https://embedXcode.weebly.com
//  Licence     All rights reserved
//
// Last update: 16 Oct 2018 release 10.1.5

// Board identifier
// See Boards.txt for <tag>.name=Arduino Uno (16 MHz)
//
BOARD_TAG  = MSP-EXP432P401RR
BOARD_TAG_18 = MSP-EXP432P401R
MSP432_COLOUR = RED_ONLY

// Port (optional)
// most common are /dev/tty.usbserial*, /dev/tty.usbmodem* or /dev/tty.uart*
//
BOARD_PORT = /dev/tty.usbmodemM432* // /dev/tty.usbmodem*

// References for Xcode code-sense
// See Boards.txt for <tag>.build.mcu=<GCC_PREPROCESSOR_DEFINITIONS>
//
GCC_PREPROCESSOR_DEFINITIONS = __MSP432P401R__ ENERGIA ENERGIA_MT

// Specify the full path and name of the application
// with /Contents/Java/** after
//
HEADER_SEARCH_PATHS = $HOME/Library/Energia15/packages/energia/hardware/msp432r/**

// Maximum RAM size in bytes
// given by <tag>.upload.maximum_ram_size in boards.txt for Maple and Teensy
//
MAX_RAM_SIZE = 65536

MULTI_INO    = 1

CONFIG_NAME = LaunchPad MSP432P401R Red EMT
