//
//  Seeeduino Xiao M0 (MSD).xcconfig
//  Board configuration file
//  ----------------------------------
//  Developed with embedXcode
//
//  Part of embedXcode
//  Embedded Computing on Xcode
//
//  Created by  Rei Vilo on 08 Feb 2020
//  Copyright   (c) 2010-2020 https://embedXcode.weebly.com
//  Licence     All rights reserved
//
// Last update: 17 Mar 2020 release 11.7.2

// Board identifier
// See Boards.txt for <tag>.name=Arduino Uno (16 MHz)
//
BOARD_TAG  = seeed_XIAO_m0

// Port (optional)
// most common are /dev/tty.usbserial*, /dev/tty.usbmodem* or /dev/tty.uart*
//
BOARD_PORT = /dev/cu.usbmodem*
SERIAL_PORT = /dev/tty.usbmodem00*

// References for Xcode code-sense
// See Boards.txt for <tag>.build.mcu=<GCC_PREPROCESSOR_DEFINITIONS>
//
GCC_PREPROCESSOR_DEFINITIONS = __SAMD21G18A__ ARDUINO

// Specify the full path and name of the application
// with /Contents/Java/** after
//
HEADER_SEARCH_PATHS = $HOME/Library/Arduino15/packages/Seeeduino/hardware/samd/**

// Maximum RAM size in bytes
// given by <tag>.upload.maximum_ram_size in boards.txt for Maple and Teensy
// given by <tag>.upload.maximum_data_size in boards.txt for Arduino 1.5.x
//
MAX_RAM_SIZE = 32768

// Select programmer
//
UPLOADER     = bossac

CONFIG_NAME = Seeeduino Xiao M0 (MSD)
